@charset "utf-8";
p {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}


h3 {
	font-family: Open Sans;
	font-weight:500;
	text-decoration:blink;
	text-transform:uppercase;
	margin:0px;
	color:#006F10;
	
}


.thumbnail {
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	border:0;
	box-shadow:0;
	border-radius:0;
	
}

.navbar-default {
    background-color: #006F10;
    border-color: #006F10;
    border-radius: 1;
	opacity:0.95;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
	padding-top:15px;
	padding-bottom:5px;
	text-align: right;
	font-size:14px;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #D1F0A2;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #FFF;
	background-color: #72FF87;
}

.navbar-default .navbar-text {
    color: #FFF;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.navbar-default .navbar-toggle {
    border-color: #D1F0A2;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #D1F0A2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.navbar-brand>img {
  padding: 7px 15px;
}
.img-rounded{
	border-radius:50%;
	height:auto;
	width:25%;
}
.img-rounded:hover,.img-rounded:focus{
transform:scale(1.25,1.25);
}
footer{
	background-color:#006F10;
	color:#FFFFFF;
	text-align:center;
	font-family:Open Sans;
	font-size:18px;
	font-weight:10px;
	width:100%;
	}
	.img-main {
		border-radius:50%;
		width:10%;
	}
	.img-main:hover,.img-main:focus{
	width:15%;
	}
#main {
	margin-left:20%;
	margin-right:20%;
	text-align:justify;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:30px;
	font-weight:600;
	background-color:white;
	color:#0D761C;
	Padding:20px;
}
#firston {
	margin-right:50%;
	margin-left:33.5%;
}
.nav .navbar .navbar-right{
	margin-top:0px;
	margin-bottom:100%;
}
a{
	text-decoration:inherit;
	color:inherit;
}
a:hover{
	text-decoration:none;
	color:inherit;
}
div#container
{
    width:840px;
    height:317px;
    overflow: visible;     /* if you don't want a scrollbar, set to hidden */
    overflow-x:scroll;   /* hides horizontal scrollbar on newer browsers */

    /* resize and min-height are optional, allows user to resize viewable area */
    -webkit-resize:vertical; 
    -moz-resize:vertical;
    resize:vertical;
    min-height:317px;
}

iframe#embed
{
    width:1000px;       /* set this to approximate width of entire page you're embedding */
    height:4000px;      /* determines where the bottom of the page cuts off */
    margin-left:-10px; /* clipping left side of page */
    margin-top:-275px;  /* clipping top of page */
    overflow:hidden;

    /* resize seems to inherit in at least Firefox */
    -webkit-resize:none;
    -moz-resize:none;
    resize:none;
}